.delete-btn {
    background: transparent;
    border: none;
    color: #ff6b6b;
    float: right;
    margin-top: -30px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    color: #e60023;
  }
  